.homepage{
    .slider{
        position: relative;
        width: 100%;
        .slider__item-wrap{
            .slider__item{
                position: relative;
                .slider__item-img{
                                object-fit: cover;
                                max-width: 100%;
                                min-height: 100vh;
                }
                .slider__item-text{
                    @include mid-position;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .title{
                        font-size: 83px;
                        color: $yellow-cl;
                        letter-spacing: 12px;
    
                    }
                    .btnmain{
                        margin-top: $mgBtn;
                        i{
                            width: 18px;
                            height: 18px;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
        .slider__bottom{
            .container-fluid{
                @include mid-flex;
                position: absolute;
                width: 100%;
                bottom: $mgBottom;
                .slider__bottom-paging{
                    @include mid-flex;
                        .number{
                            font-size:43px;
                            color: $yellow-cl;
                            font-family: 'PP';
                        }
                        .dotted{
                            @include mid-flex;
                            li{ 
                                &.active{
                                    background-color : $yellow-cl;
                                }
                                width: 9px;
                                height: 9px;
                                border-radius: 50%;
                                background-color: $gray-cl;
                                margin: 5px;}
                           
                        }
                    }
                    .slider__bottom-mouse{
                        @include mid-flex-column;
                        @include mid-position;
                        .mouse{
                            height: 25px;
                            opacity: 0.7;
                        }
                        .arrow{
                            margin: 12px 0 41px 0;
                            animation-name: mousearrow;
                            animation-duration: 1s;
                            animation-iteration-count: infinite;
                        }
                    }
                    .slider__bottom-control{
                        width: 180px;
                        height: 40px;
                        display: grid;
                        grid-template-columns: repeat(2,1fr);
                        grid-template-rows: auto;
                        .btnctr{
                            border: solid 1px $white-cl;
                            cursor: pointer;
                            @include mid-flex;
                            justify-content: center;
                            i{
                                width: 30px;
                                display: block; 
                                height: 100%;
                                img{
                                    height: 100%;
                                    width: 100%;
                                }

                            }
                        &.pre{
                            transform: rotate(180deg);
                        }
                        }
                    }
                }
             }
    }
    .products{
        .container{
            .product{
                display: flex;
                &:last-child{
                    padding-top: 92px;
                    flex-direction: row-reverse;
                    .titlemain{
                        &::before{
                            left :109%
                           
                        }
                    }
                }
            }
        }
    }
    .videos{
        .introduce{
            &.pd{padding-top: 115px;}
            @include mid-flex-column;
            .video__item-wrap{
                @include mid-flex;
                justify-content: space-around;
                width: 100%;
                .video__item{
                    .video__item-img{
                        position: relative;
                        cursor: pointer;
                        .video__img{
                            overflow: hidden;
                            border-radius: 50%;
                            display: flex;
                            > img {  filter:grayscale(100%);
                                    -webkit-filter: grayscale(100%);
                                    -moz-filter: grayscale(100%);
                                    transition: all;
                                    transition-duration: $t;
                                    transition-timing-function: ease-in-out;
                                    border-radius: 50%;
                                    width: 200px;
                                    height: 200px;
                                    object-fit: cover;}
                                    &:hover{
                                        img{
                                            transform: scale(1.2);
                                            filter: grayscale(88%) brightness(124%);
                                                    -webkit-filter: grayscale(88%) brightness(124%);
                                                    -moz-filter: grayscale(88%) brightness(124%);
                                        }
                                    }
                                    &::before{
                                        width: 225px;
                                        height: 225px;
                                        border: solid 1px rgba($color: #000000, $alpha: 0.1);
                                        content: "";
                                        position: absolute;
                                        @include mid-position;
                                        border-radius: 50%;
                                    }
                        }
                        .play_button{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            background-color: $yellow-cl;
                            height: 58px;
                            border-radius: 50%;
                            img{
                                border-radius: 50%;
                                width: 58px;
                            }
                        }
                    }
                    .video__item-caption{
                        text-align: center;
                        padding-top: 45px;
                        position: relative;
                        &::before{
                            content: "";
                            width: 20px;
                            height: 3px;
                            background-color: $yellow-cl;
                            position: absolute;
                            left:50%;
                            transform: translateX(-50%);
                            top: 40%;
                        }
                    }
                }
            }
        }
    }
    .info{
        background-image: url(../imgs/photo/Pic03.jpg);
        background-position: center;
        object-fit: contain;
        background-clip: content-box;
        background-repeat: no-repeat;
        .info__textbox {
            max-width: 550px;
            padding: 180px 0;
            .btn-video{
                display: flex;
                flex-direction: row-reverse;
                svg{
                    margin-right: 10px;
                }
            }
        }
    }
    .about{
        .about__row{
            display: flex;
            .textbox {
                .titlemain{
                    &::before{
                        left: -87%;
                    }
                }
            }
        }
    }
    .gallery{
        background-color: $black-cl;
        background-clip: content-box;
        .gallery__text{
            max-width: 450px;
            padding-left:0 ;
            padding-right: 0;
        }
        .gallery__grid{
            display: grid;
            grid-template-columns: repeat(3 , 1fr);
            grid-template-rows: repeat(2 ,200px);
            column-gap: 11px;
            row-gap: 11px;
            padding-bottom: 90px;
            .gallery__grid-item{
                overflow: hidden;
                img{cursor: pointer;
                    min-width: 100%;
                    min-height: 100%;
                    display: block;
                    filter: grayscale(100%) brightness(124%);
                    -webkit-filter: grayscale(100%) brightness(124%);
                    -moz-filter: grayscale(100%) brightness(124%);
                    transition: filter,transform;
                    transition-duration: $t;
                }
                &:hover{
                    img{
                        filter: grayscale(0%) brightness(100%);
                        -webkit-filter: grayscale(0) brightness(100%);
                        -moz-filter: grayscale(0) brightness(100%);
                        transform: scale(1.2);
                    }
                }
                
                    &.item1{
                        grid-row: 1/2;
                        grid-column: 1/2;
                    }
                    &.item2{
                        grid-row: 2/3;
                        grid-column: 1/2;
                    }
                    &.item3{
                        grid-row:1/3 ;
                        grid-column: 2/3;
                    }
                    &.item4{
                        grid-row: 1/2;
                        grid-column: 3/4;
                    }
                    &.item5{
                        grid-row: 2/3;
                        grid-column: 3/4;
                    }
                }
            }
        }
    .news{
        .textbox{
            padding-left: 0;
            max-width: 490px;
        }
        .news__list{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            column-gap: 25px;
            .news__list-item{
                .img{
                    max-height: 200px;
                    overflow:hidden;
                    img{
                        transition: transform, filter;
                        transition-duration: 2s;
                        width: 100%;
                        height: auto;
                        transition: transform;
                        transition-duration: 1s;}
                &:hover{
                    img{
                        transform: rotateY(360deg);
                    }
                }
                    
                }
                .text{
                    position: relative;
                    &::before{
                        content: "";
                        width: 83px;
                        height: 3px;
                        background-color: $yellow-cl;
                        display: block;
                        margin: 25px 0;
                    }
                    .title{
                        margin-bottom: 15px;
                        a{
                            color: $black-cl;
                        };
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        height: 65px;
                    }
                }
            }
            .text-des{
                font-size: $fz-text;
                font-family: 'PR';
                color: $text-cl;
                overflow: hidden;
                height: 58px;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        }
    }
    .photos{
        display: flex;
        width: 100vw;
        overflow: hidden;
        img{
        
            object-fit: contain;
        }
    }
}
